# Overwrite service configurations of global docker-compose.yml
# for INTEGRATION TESTING, including MOCKS and INTEGRATION TEST SERVICES.
# can be used locally or in the CI ENVIRONMENT.

version: '3.7'

services:

  # ----------------- ADAPTER SERVICE   (PORTS 9000 - 9099) --------------------
  adapter-it:
    image: open-data-service/ods-main/adapter-it
    build:
      dockerfile: Dockerfile
      context: ./adapter/integration-test/
    environment:
      ADAPTER_API: http://adapter:8080
      MOCK_SERVER_HOST: adapter-it
      MOCK_SERVER_PORT: 8081
      RABBIT_HOST: rabbitmq
      AMQP_URL: 'amqp://rabbit_adm:R4bb!7_4DM_p4SS@rabbitmq:5672'
      AMQP_EXCHANGE: 'ods_global'
      AMQP_IMPORT_TOPIC: 'datasource.execution.*'
      AMQP_IMPORT_SUCCESS_TOPIC: 'datasource.execution.success'
      AMQP_IMPORT_FAILED_TOPIC: 'datasource.execution.failed'
      AMQP_IT_QUEUE: adapter-it

    depends_on:
      - rabbitmq
      - edge

  # ----------------- SCHEDULER SERVICE (PORTS 9300 - 9399) --------------------
  scheduler:
    ports:
      - "9300:8080"
    environment:
      CONFIG_SERVICE_URL: http://scheduler-it:8081
      ADAPTER_SERVICE_URL: http://scheduler-it:8082
      TRANSFORMATION_SERVICE_URL: http://scheduler-it:8083
      NOTIFICATION_SERVICE_URL: http://scheduler-it:8084
      STORAGE_SERVICE_URL: http://scheduler-it:8085

  scheduler-it:
    image: open-data-service/ods-main/scheduler-it
    build:
      context: ./scheduler/integration-test/
    environment:
      SCHEDULER_API: http://scheduler:8080
      MOCK_ADAPTER_HOST: scheduler-it
      MOCK_ADAPTER_PORT: 8082
      MOCK_TRANSFORMATION_HOST: scheduler-it
      MOCK_TRANSFORMATION_PORT: 8083
    depends_on:
      - rabbitmq

  # ----------------- STORAGE SERVICE (PORTS 9400 - 9499) --------------------
  storage-it:
    image: open-data-service/ods-main/storage-it
    build:
      context: ./storage/integration-test
    environment:
      STORAGE_API: http://storage:3000
      STORAGEMQ_API: http://storage-mq:8080
      AMQP_URL: 'amqp://rabbit_adm:R4bb!7_4DM_p4SS@rabbitmq:5672'

  # ----------------- TRANSFORMATION SERVICE (PORTS 9500 - 9599) --------------------
  transformation-it:
    image: open-data-service/ods-main/transformation-it
    build:
      context: ./transformation/integration-test/
    environment:
      TRANSFORMATION_API: http://transformation:8080

      AMQP_URL: 'amqp://rabbit_adm:R4bb!7_4DM_p4SS@rabbitmq:5672'
      AMQP_EXCHANGE: 'ods_global'
      AMQP_IT_QUEUE: 'transformation_it'
      AMQP_PIPELINE_EXECUTION_TOPIC: 'pipeline.execution.*'
      AMQP_PIPELINE_EXECUTION_SUCCESS_TOPIC: 'pipeline.execution.success'
      AMQP_PIPELINE_EXECUTION_ERROR_TOPIC: 'pipeline.execution.error'
      AMQP_PIPELINE_CONFIG_CREATED_TOPIC: 'pipeline.config.created'
      AMQP_PIPELINE_CONFIG_UPDATED_TOPIC: 'pipeline.config.updated'
      AMQP_PIPELINE_CONFIG_DELETED_TOPIC: 'pipeline.config.deleted'
      AMQP_IMPORT_SUCCESS_TOPIC: 'datasource.execution.success'

   # ----------------- NOTIFICATION SERVICE (PORTS #TODO) --------------------
  notification:
    environment:
      MOCK_RECEIVER_HOST: notification-it
      MOCK_RECEIVER_PORT: 8081

  notification-it:
    image: open-data-service/ods-main/notification-it
    build:
      context: ./notification/integration-test/
    environment:
      NOTIFICATION_API: http://notification:8080
      MOCK_RECEIVER_HOST: notification-it
      MOCK_RECEIVER_PORT: 8081
