# Overwrite service configurations of global docker-compose.yml
# for INTEGRATION TESTING, including MOCKS and INTEGRATION TEST SERVICES.
# can be used locally or in the CI ENVIRONMENT.

version: '3.7'

services:

  # ----------------- ADAPTER SERVICE   (PORTS 9000 - 9099) --------------------
  adapter-it:
    image: open-data-service/ods-main/adapter-it
    build:
      dockerfile: Dockerfile
      context: ./adapter/integration-test/
    environment:
      ADAPTER_API: http://adapter:8080
      MOCK_SERVER_HOST: adapter-it
      MOCK_SERVER_PORT: 8081

  # ----------------- SCHEDULER SERVICE (PORTS 9300 - 9399) --------------------
  scheduler:
    ports:
      - "9300:8080"
    environment:
      CONFIG_SERVICE_URL: http://scheduler-it:8081
      ADAPTER_SERVICE_URL: http://scheduler-it:8082
      TRANSFORMATION_SERVICE_URL: http://scheduler-it:8083
      NOTIFICATION_SERVICE_URL: http://scheduler-it:8084
      STORAGE_SERVICE_URL: http://scheduler-it:8085

  scheduler-it:
    image: open-data-service/ods-main/scheduler-it
    build:
      context: ./scheduler/integration-test/
    environment:
      SCHEDULER_API: http://scheduler:8080
      MOCK_CORE_HOST: scheduler-it
      MOCK_CORE_PORT: 8081
      MOCK_ADAPTER_HOST: scheduler-it
      MOCK_ADAPTER_PORT: 8082
      MOCK_TRANSFORMATION_HOST: scheduler-it
      MOCK_TRANSFORMATION_PORT: 8083
      MOCK_NOTIFICATION_HOST: scheduler-it
      MOCK_NOTIFICATION_PORT: 8084
      MOCK_STORAGE_HOST: scheduler-it
      MOCK_STORAGE_PORT: 8085


  # ----------------- STORAGE SERVICE (PORTS 9400 - 9499) --------------------
  storage-it:
    image: open-data-service/ods-main/storage-it
    build:
      context: ./storage/integration-test
    environment:
      STORAGE_API: http://storage:3000

  # ----------------- TRANSFORMATION SERVICE (PORTS 9500 - 9599) --------------------
  transformation:
    environment:
      AUTH_ENABLED: 'false'

  transformation-it:
    image: open-data-service/ods-main/transformation-it
    build:
      context: ./transformation/integration-test/
    environment:
      TRANSFORMATION_API: http://transformation:8080

   # ----------------- NOTIFICATION SERVICE (PORTS #TODO) --------------------
  notification:
    environment:
      AUTH_ENABLED: 'false'
      MOCK_RECEIVER_HOST: notification-it
      MOCK_RECEIVER_PORT: 8081

  notification-it:
    image: open-data-service/ods-main/notification-it
    build:
      context: ./notification/integration-test/
    environment:
      NOTIFICATION_API: http://notification:8080
      MOCK_RECEIVER_HOST: notification-it
      MOCK_RECEIVER_PORT: 8081

  # ----------------- CORE SERVICE (PORTS 9600 - 9599) --------------------
  core-it:
    image: open-data-service/ods-main/core-it
    build:
      context: ./core/integration-test
    environment:
      CORE_API: http://core:8080
