version: "3.7"

services:
  pipeline:
    build:
      target: base
    command: npm run test:provider
    environment:
      AMQP_PIPELINE_EXECUTION_EXCHANGE: 'ods_global'
      AMQP_PIPELINE_EXECUTION_QUEUE: 'notification.pipeline-execution'
    volumes:
      - ./pacts:/pacts
  pipeline-outboxer:
    environment:
      - OUTBOXER_PUBLISHER_AMQP_RETRIES=30
  storage-mq:
    build:
      target: base
    command: npm run test:provider
    environment:
      POSTGREST_URL: 'storage'
    volumes:
      - ./pacts:/pacts
